#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 16px 0px;
  font-size: 18px;
  font-weight: 500;
  margin-top: -15px;
  margin-bottom: 10px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.2);
  font-size: 20px;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel .dividing-line__header {
  margin-bottom: 20px;
}

.friends-screen__channel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

@keyframes HideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
  animation: HideSplashScreen 0.4s ease-in-out forwards;
  animation-delay: 2s;
}
